.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.main {
  max-width: 954px;
  display: flex;
  gap: 18px;
  flex-wrap: wrap;

  @media (max-width: 984px) {
    max-width: 636px;
  }

  @media (max-width: 666px) {
    max-width: 300px;
  }
}
